<nav id="main-nav">
  <p><a href="/">Component App</a></p>
  <ul>
    <li class="nav-links"><a href="/getting-started">Docs</a></li>
    <li class="nav-links"><a href="/components">Components</a></li>
    <li class="nav-links"><a href="/design-tokens">Design Tokens</a></li>
    <li class="nav-links"><a href="">Link</a></li>
    <li id="nav-dropdown-toggle"><button>X</a></button>
  </ul>

  <!-- Overlay Menu -->
  <div id="nav-overlay" style="display: none;">
    <ul>
      <li><a href="/getting-started">Getting Started</a></li>
      <li><a href="/components">Components</a></li>
      <li><a href="/design-tokens">Design Tokens</a></li>
      <li><a href="">Link</a></li>
    </ul>
  </div>

</nav>

<style>
  nav {
    border-bottom: 1px solid black;
    grid-area: 1 / 1 / 2 / 3;
    padding: 20px 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
  }

  button {
    display: none;
    font-size: 10px;
  }

  #nav-overlay {
    position: absolute;
    width: 100%;
    display: none;
    background-color: white;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    top: 100%;
    left: 0;
    padding: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  #nav-overlay ul {
    flex-direction: column; 
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }

  #nav-overlay li {
    margin-bottom: 10px;
  }

  #nav-overlay li:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 800px) {
    .nav-links {
      display: none;
    }
    button {
      display: block;
    }
  }
</style>

<script>
  document.getElementById('nav-dropdown-toggle').onclick = function() {
    var overlay = document.getElementById('nav-overlay');
    overlay.style.display = overlay.style.display === 'flex' ? 'none' : 'flex';
  };

  // check the window width and close the dropdown if width is more than 800px
  function checkWindowSize() {
    var overlay = document.getElementById('nav-overlay');
    if (window.innerWidth > 800) {
      overlay.style.display = 'none';
    }
  }

  window.addEventListener('resize', checkWindowSize);
  checkWindowSize();
</script>