---
import Link from '../components/Link.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Component App">
	<section>
		<h2>Design Tokens</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, corrupti non ducimus et natus odio voluptatem hic sunt dicta consectetur, eveniet facere minima deserunt cum temporibus. Odio adipisci fugiat obcaecati?</p>
		
		<ul>
			<li><Link text="Typography" href="/design-tokens/typography" style="secondary" /></li>
			<li><Link text="Color" href="/design-tokens/color" style="secondary" /></li>
			<li><Link text="Spacing" href="/design-tokens/spacing" style="secondary" /></li>
			<li><Link text="Elevation" href="/design-tokens/elevation" style="secondary" /></li>
			<li><Link text="Borders" href="/design-tokens/borders" style="secondary" /></li>
			<li><Link text="Transitions" href="/design-tokens/transitions" style="secondary" /></li>
			<li><Link text="Z-index" href="/design-tokens/z-index" style="secondary" /></li>
		</ul>
	</section>
</Layout>

<style>
	section {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	
	ul {
		list-style-type: none;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}

	a {
		padding: 10px 20px;
		background-color: rgb(244, 244, 244);
		border: 1px solid grey;
		border-radius: 8px;
		display: inline-block;
	}
</style>
